[Desktop Entry]
Type=Application
Name=LuaG Console
GenericName=Fantasy Console
Icon=luag-console
TryExec=net.vulcalien.LuagConsole
Exec=luag-console %f
